.acuity-top-menu {
    height: 50px;
}

.acuity-top-menu-nav {
    width: 100%;
    background-color: #314867;
}

.acuity-root {
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.acuity-nav-button {
    padding: 10px;
    background-color: inherit;
    color: var(--lumo-body-text-color);
    justify-content: flex-start !important;
    cursor: default;
}

.acuity-nav-button:hover {
    background-color: #354d5f;
}

.acuity-nav-button span {
    vertical-align: middle;
    font-size: 17px;
    cursor: inherit;
}